<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.bostonbound"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to call your FastAPI server -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="BostonBound"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Results screen (you can add this later if not created yet) -->
        <activity
            android:name=".ResultsActivity"
            android:label="Itinerary"
            android:parentActivityName=".MainActivity" />

        <!-- NEW: Home screen is now the launcher -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RestaurantsActivity" />
        <activity android:name=".MuseumsActivity" />
        <activity android:name=".HistoricalSitesActivity" />
        <activity android:name=".GardensActivity" />

        <activity android:name=".MetricsActivity" />

        <activity android:name=".PoiDetailsActivity" />
        <activity android:name=".ExploreBostonActivity" />


        <activity
            android:name=".MainActivity"
            android:label="Build Itinerary"
            android:exported="false" />
    </application>

</manifest>
